
<div class='post-list'>
    <%= render @posts %>
</div>

<!--

Examples: (these are the same as the actual code)
<div class='post-list'>
    <% @posts.each do |post| %>
        <%= render 'post', post: post %>
    <% end %>
</div>


<div class='post-list'>
    <% @posts.each do |post| %>
        <%= render post %>
    <% end %>
</div>
-->

